
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <title>OES</title>
    </head>
    <body>
        <div>
            <!--Sanchitha Guptha's Task is to desing the page for respected function -->
            <!--In this Page the admin should be able to enter the MCQ question-->
            <h2 style="text-align:center">Add Question Here!!!!!</h2>
        </div>
    </body>
</html>