@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <title>OES</title>
    </head>
    <body>
        <div>
            <!--This page should display one question-->
            <h2 style="text-align:center">Delete Question Here!!!!!</h2><br />
            @using (Html.BeginForm("PostDeleteQuestion","Administrator"))
            {
                <label>Enter Question ID</label>
                <input type="text" name="QID" />
                <input type="submit" name="ADD" value="Delete" />
            }
        </div>
    </body>
</html>
