@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <title>OES</title>
    </head>
    <body>
        <div>
            <!--Sanchitha Guptha's Task is to desing the page for respected function -->
            <!--This Page the should display the Questions along with Check boxes beside each question-->
            <h2 style="text-align:center">Delete Question Here!!!!!</h2>
        </div>
    </body>
</html>