@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <title>OES</title>
    </head>
    <body>
        <div>
            <!--Sanchitha Guptha's Task is to desing the page for respected function -->
            <!--It Should have search bar to search for the User-->
            <!--This Page should display the performance graphs and marks secured-->
            <h2 style="text-align:center">Generate Report here!!!!!</h2>
        </div>
    </body>
</html>