@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <title>OES</title>
    </head>
    <body>
        <div>
            <!--Sanchitha Guptha's Task is to desing the page for respected function -->
            <!--In this Page the admin should be able to modify the MCQ question,It Should have search bar to search for question to be modified, It should Display the existing question and below that text box should be there to modify the question-->
            <h2 style="text-align:center">Modify Question Here!!!!!</h2>
        </div>
    </body>
</html>
