@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <title>OES</title>
    </head>
    <body>
        <div>
            <!--Sanchitha Guptha's Task is to desing the page for respected function -->
            <!--This Page the should contain searh bar to search for user, It should display the User information(entered during registration) and status of exam and also marks secured-->
            <h2 style="text-align:center">Search Exam Information Here!!!!!</h2>
        </div>
    </body>
</html>