@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <title>OES</title>
    </head>
    <body>
        <div>
            <!--This page should display list of all questions-->
            <h2 style="text-align:center">View Question Paper Here!!!!!</h2>
        </div>
    </body>
</html>
